@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2D3748; /* Warna abu-abu gelap agar lebih soft dibanding hitam pekat */
}

h1 {
    font-weight: bold, 1000;
}

h3, h4 {
    font-weight: 600; 
}

section {
    padding: 200px 40px 200px 40px;
}

